{% extends 'layouts/master.twig' %}

{% block content %}

    <div class="w-3/4 m-auto py-8 flex items-center justify-center flex-col animated slideInDown">
        <p class="text-grey text-4xl mb-8">Coder, Back-end specialist & Entrepeneur</p>

        <img class="mb-8" src="/img/42.png">

        <p class="text-sm text-grey"><i>“May I never be complete. May I never be content. May I never be
                                        perfect.”</i> -
            <span class="text-red-dark">Tyler
                                                          Durden<span
        </p>
    </div>

    <div class="w-3/4 m-auto py-8 flex items-center flex-col animated slideInUp">

        <h3 class="text-grey py-4">Leer meer over mij!</h3>

        <div class="flex justify-between">
            <div class="mr-4 card-width cursor-pointer hover-bounce" onclick="redirect('/contact')">
                <div class="flex items-center justify-center shadow-md rounded primary-gradient">
                    <div class="flex flex-col p-4 items-center  text-white">
                        <h3 class="mb-4 font-hairline">Adres gegevens</h3>
                        <i class="text-white fas fa-address-card fa-4x flex-1"></i>
                    </div>

                </div>
            </div>
            <div class="mr-4 card-width cursor-pointer hover-bounce">
                <div class="flex items-center justify-center primary-gradient shadow-md rounded">
                    <div class="flex flex-col p-4 items-center text-white">
                        <h3 class="mb-4 font-hairline">Werk ervaring</h3>
                        <i class="fas fa-briefcase fa-4x"></i>
                    </div>
                </div>
            </div>
            <div class="mr-4 card-width cursor-pointer hover-bounce">
                <div class="flex items-center justify-center primary-gradient shadow-md rounded">
                    <div class="flex flex-col p-4 items-center text-white">
                        <h3 class="mb-4">Hobbies</h3>
                        <i class="far fa-clock fa-4x flex-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}