
    <div class="w-1/6 flex flex-col items-center">
        <div class="flex-1">
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Home</a>
            </div>
            <div class="p-4">
                <a href="#" class="no-underline text-red-dark">Contact</a>
            </div>
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Werkervaring</a>
            </div>
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Hobbies</a>
            </div>

            {% if(signedIn == false) %}
            <div class="p-4">
                <a href="/login" class="no-underline text-grey-dark hover:text-red-dark">Admin login</a>
            </div>
            {% else %}
                <div class="p-4">
                    <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Toevoegen werk</a>
                </div>

                <div class="p-4">
                    <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Toevoegen hobbie</a>
                </div>

                <div class="p-4">
                    <a href="#" class="no-underline text-grey-dark hover:text-red-dark"
                    onclick="submitLogoutForm()">Log uit</a>
                </div>

                <form method="POST" action="/logout" id="logout-form"></form>
            {% endif %}
        </div>
    </div>