
    <div class="w-1/6 flex flex-col items-center">
        <div class="flex-1">
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Home</a>
            </div>
            <div class="p-4">
                <a href="#" class="no-underline text-red-dark">Contact</a>
            </div>
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Werkervaring</a>
            </div>
            <div class="p-4">
                <a href="/" class="no-underline text-grey-dark hover:text-red-dark">Hobbies</a>
            </div>
            <div class="p-4">
                <a href="/login" class="no-underline text-grey-dark hover:text-red-dark">Admin login</a>
            </div>
        </div>
    </div>