<div class="w-1/4 mr-2">
    <div class="flex items-center justify-center shadow-md rounded">
        <div class="flex flex-col p-4 items-center primary-gradient rounded text-white">
            <h3 class="mb-4">Adres gegevens</h3>
            <i class="text-white fas fa-address-card fa-4x flex-1"></i>
        </div>

        <div>
            <a href="#">
                Contact gegevens
            </a>
        </div>
    </div>
</div>