<!DOCTYPE html>
<head>
    <title>KBS</title>

    <link href="/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <nav class="my-2 h-16 flex items-center justify-center mb-8">
        <div class="flex-1 ml-8 animated slideInLeft">
            <p class="text-2xl text-red-dark uppercase">curriculum vitae</p>
        </div>

        <div class="mr-8 animated slideInRight">
            <p class="text-grey ">Coen Nijenhuis</p>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script>

        /**
         * Redirects the user the
         *
         * @param url
         */
        function redirect(url)
        {
            window.location.href = url;
        }

    </script>
</body>